/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* common-style or utilities */
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* top section style */
.top-section {
  background-color: black;
  width: 1054px;
  height: 500px;
  border-radius: 30px;
  margin-top: 29px;
  display: flex;
}
.top-show {
  margin-top: 50px;
  margin-left: 45px;
  width: 465px;
  height: 450px;
}
h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  line-height: 15%;
}
p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}
.button-style {
  background-color: #dd0000;
  border-radius: 5px;
  margin-top: 15px;
  width: 130px;
  height: 40px;
  color: white;
}
.top-side-image img {
  margin-top: 25px;
  height: 475px;
  width: 450px;
}
/* top section style end */

/* left midle section style start */
.container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 25% repeat(3, 1fr);
  gap: 15px;
}
/* ---------------------------------------- */
/* .container_2 {
  margin-left: 286px;
} */
.cardPart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15px;
  margin-left: 286px;
  /* grid-column-gap: 24px; */
  gap: 15px;
}
/* ------------------------------------------- */
.match-info {
  width: 259px;
  height: 247px;
  background-color: #161616;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 15px; */
  margin: 0 auto;
  padding: 0 !important;
  /* overflow: scroll; */
}
.upcoming-match {
  background-color: white;
  width: 217px;
  height: 55px;
  border-radius: 10px;
}
.upcoming-match a {
  text-decoration: none;
}
#upcoming-match-style {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-weight: 600;
}
.group-style {
  background-color: white;
  width: 217px;
  height: 55px;
  border-radius: 10px;
  margin-top: 25px;
  font-weight: 800;
}
.blog-style {
  background-color: indianred;
  width: 217px;
  height: 55px;
  border-radius: 10px;
  margin-top: 25px;
  font-weight: 800;
  color: white;
}
/* left middle section style end */
/* right middle section style start */
.transfer {
  width: 247px;
  height: 290px;
  border-radius: 10px;
  border: 1px solid blue;
}
.transfer-style img {
  width: 247px;
  height: 130px;
}
.transfer-button-style {
  width: 100px;
  height: 32px;
  border-radius: 5px;
  margin-top: 11px;
  margin-left: 12px;
}
h4 {
  font-size: 15px;
  margin-top: 24px;
  margin-left: 12px;
  line-height: 20%;
}
.transfer-time {
  display: flex;
  margin-top: 20px;
  margin-left: 12px;
}
.clock-style {
  color: rgb(79, 78, 78);
  border-radius: 5px;
  font-size: 15px;
}
.fa-clock {
  margin-right: 10px;
}
.message-style {
  margin-left: 40px;
  color: rgb(79, 78, 78);
  border-radius: 5px;
  font-size: 15px;
}
.fa-message {
  margin-right: 10px;
}
/* right middle section style end */
/* footer style start */
footer {
  background-color: #161616;
  width: 1350px;
  height: 300px;
  margin-top: 100px;
}
.h3-style {
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  align-items: center;
  width: 1000px;
  margin-top: 22px;
}
.contact-style {
  display: flex;
  justify-content: center;
  /* width:990px; */
  color: #b9b9b9;
  padding: 15px;
}
.contact-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 990px;
  justify-content: space-evenly;
}
/* footer style end */
